* {
    margin: 0;
    padding: 0;
}

#container {
    height: 400px;
    overflow-y: scroll;
    overflow-x: scroll;
    border: 1px solid #ccc;
    background: rgb(150, 150, 150);
    white-space: nowrap;
}

#content {
    min-height: 1000px;
}

body {
    background: #131111;
}

.square {
    width: 15px;
    height: 15px;
    background: yellow;
    border: 2px solid #ccc;
    display: inline-block;
    overflow-x: visible;

}

.column {
    width: 15px;
    height: 15px;
    display: inline-block;
    flex-direction: column;
    white-space: nowrap;

}

.square {
    width: 15px;

    height: 15px;
    background: yellow;
    border: 2px solid #ccc;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
}